<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings">
			<section name="MatrixPACS.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<MatrixPACS.Common.ExtensionSettings>

			<setting name="ExtensionConfigurationXml" serializeAs="Xml">

				<value>

					<extensions>
						<extension class="MatrixPACS.ImageServer.Services.Common.Misc.ProductVerificationService, MatrixPACS.ImageServer.Services.Common" enabled="true" />						
						<extension class="MatrixPACS.Enterprise.Core.InProcessCoreServiceProvider, MatrixPACS.Enterprise.Core" enabled="false" />
						<extension class="MatrixPACS.Enterprise.Common.RemoteCoreServiceProvider, MatrixPACS.Enterprise.Common" enabled="false" />
						<extension class="MatrixPACS.ImageServer.Common.InProcessImageServerServiceProvider, MatrixPACS.ImageServer.Common" enabled="true" />
						<extension class="MatrixPACS.ImageServer.Common.RemoteImageServerServiceProvider, MatrixPACS.ImageServer.Common" enabled="false" />
						<extension class="MatrixPACS.ImageServer.Services.Common.Authentication.DefaultAuthenticationService, MatrixPACS.ImageServer.Services.Common" enabled="false" />
						<extension class="MatrixPACS.Enterprise.Common.EnterpriseTimeProvider, MatrixPACS.Enterprise.Common" enabled="false" />
						<extension class="MatrixPACS.Enterprise.Common.Audit.AuditSink, MatrixPACS.Enterprise.Common" enabled="false" />
						<extension class="MatrixPACS.ImageServer.Services.Common.Alert.AlertService, MatrixPACS.ImageServer.Services.Common" enabled="true" />
						<extension class="MatrixPACS.ImageServer.Services.Common.Misc.FilesystemInfoService, MatrixPACS.ImageServer.Services.Common" enabled="true" />
					</extensions>

				</value>

			</setting>

		</MatrixPACS.Common.ExtensionSettings>
	</applicationSettings>
</configuration>

