<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MatrixPACS.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<MatrixPACS.Common.ExtensionSettings>
			<setting name="ExtensionConfigurationXml" serializeAs="Xml">
				<value>
					<extensions>
						<extension class="MatrixPACS.Enterprise.Core.InProcessCoreServiceProvider, MatrixPACS.Enterprise.Core" enabled="false" />
						<extension class="MatrixPACS.Enterprise.Common.RemoteCoreServiceProvider, MatrixPACS.Enterprise.Common" enabled="false" />
						<extension class="MatrixPACS.ImageServer.Common.InProcessImageServerServiceProvider, MatrixPACS.ImageServer.Common" enabled="false" />
						<extension class="MatrixPACS.ImageServer.Common.EnterpriseImageServerServiceProvider, MatrixPACS.ImageServer.Common" enabled="true" />
						<extension class="MatrixPACS.ImageServer.Services.Common.Authentication.DefaultAuthenticationService, MatrixPACS.ImageServer.Services.Common" enabled="true" />

						<extension class="MatrixPACS.Enterprise.Common.EnterpriseTimeProvider, MatrixPACS.Enterprise.Common" enabled="false" />
						<extension class="MatrixPACS.Enterprise.Common.Audit.AuditSink, MatrixPACS.Enterprise.Common" enabled="false" />
						<extension class="MatrixPACS.ImageServer.Services.Common.Alert.AlertService, MatrixPACS.ImageServer.Services.Common" enabled="false" />
						<extension class="MatrixPACS.ImageServer.Services.Common.Misc.FilesystemInfoService, MatrixPACS.ImageServer.Services.Common" enabled="false" />
						<extension class="MatrixPACS.ImageServer.Services.Common.Misc.ProductVerificationService, MatrixPACS.ImageServer.Services.Common" enabled="false" />
						<extension class="MatrixPACS.Enterprise.Common.EnterpriseConfigurationStore, MatrixPACS.Enterprise.Common" enabled="false" />
						<extension class="MatrixPACS.Enterprise.Common.EnterpriseSettingsStore, MatrixPACS.Enterprise.Common" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Tools.Measurement.CalibrationTool, MatrixPACS.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Tools.Measurement.RectangularRoiTool, MatrixPACS.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Tools.Measurement.PolygonalRoiTool, MatrixPACS.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Tools.Standard.ClearCustomShuttersTool, MatrixPACS.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Tools.Standard.EditHistoryTool, MatrixPACS.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Tools.Standard.CineTool, MatrixPACS.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Tools.Standard.DrawShutterTool, MatrixPACS.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Layout.Basic.LayoutTool, MatrixPACS.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Tools.Standard.ImageProperties.ImagePropertiesTool, MatrixPACS.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Tools.Standard.TextCalloutTool, MatrixPACS.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Tools.Standard.MagnificationTool, MatrixPACS.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Layout.Basic.PriorStudyFinder, MatrixPACS.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Layout.Basic.PriorStudyLoaderExceptionPolicy, MatrixPACS.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.Web.Server.ImageServer.ImageServerStudyLoader, MatrixPACS.ImageViewer.Web.Server.ImageServer" enabled="false" />
						<extension class="MatrixPACS.ImageViewer.StudyLoaders.Streaming.WebStation.WebStationStreamingStudyLoader, MatrixPACS.ImageViewer.StudyLoaders.Streaming" enabled="true" />
					</extensions>
				</value>
			</setting>
		</MatrixPACS.Common.ExtensionSettings>
	</applicationSettings>
</configuration>